
 * {
box-sizing: border-box;

 }

h1 {
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  font-stretch: condensed;
}

h2 {
  width: 40%;

  font-size: 2em;
  font-family: cursive;

  margin-bottom: 0;
  margin-right: 0;
  display: inline;
}

ul {
  list-style: circle;
}

li {
    font-family: "comic sans MS";
    line-height: 1.85em;
}

body {

  width: 900px;
  margin: auto;
}

hr {
  size: 10px;
  color: darkgrey;

}

div {
  width:100%;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  top: -40px;
  right: -610px;
  margin-bottom: 35px;
}

.logobox {
  margin-top: 30px;
  margin-left: 10px;
  line-height: 96%;
}


.recipetext p {
  text-indent: 25px;
}

.clearfix {
    border-top: 10px solid lightgrey;
    clear: both;
}

.recipe {
  width: 100%;
  margin-bottom: 30px;
  background-image: url(img/list-bg.png);
  background-repeat: no-repeat;
  height: 250px;


}

.column {
  width: 30%;
  margin-right: : 5%;
  float: left;
}


.author {
  color: grey;
}

.author img {
  float: left;
  margin-right: 10px;
}

.author button {
  position: relative;
  background-color: #b16a36;
  font-size: 1.1em;
  border: none;
  color: white;
  bottom: 60px;
  right: -720px;
  width: 160px;
  height: 50px;
}

.footer {
  border-top: thin solid lightgrey;
  text-align: center;

}

.footer p {
  width: 270px;
  color: lightgrey;
  margin: auto;
  margin-bottom: 40px;

}

#postedinfo {
  margin-top: 0px;
  color: lightgrey;

}

#topIcon {
  float: left;
  margin-top: -5px;
}

#printbutton {
  color: lightgrey;
  text-decoration: none;
  float: right;

}

#smalltext {
  font-family: sans-serif;
  color: gray;
  font-size: .6em;
  width: 40%;
  display: inline;

}

#spacer {

    margin-left: 5px;
}

#bottomLogo {
  margin-top: -20px;
  margin-bottom: 20px;
}

#mainImage {

  width: 100%;
}
